<h1>Password Generator</h1>
<div>
  <label>Length</label>
  <input (input)="onChangeLength($event.target.value)" />
</div>

<div>
  <input type="checkbox" (change)="toggleCheckBox('useLetters')" />
  <label>Use Letters</label>
</div>
<div>
  <input type="checkbox" (change)="toggleCheckBox('useNumbers')" />
  <label>Use Numbers</label>
</div>
<div>
  <input
    type="checkbox"
    name="useSymbols"
    [value]="useSymbols"
    (change)="toggleCheckBox('useSymbols')"
  />
  <label>Use Symbols</label>
</div>
<div>
  <button
    (click)="onButtonClick()"
    [disabled]="pwLength === 0 || (!useLetters && !useNumbers && !useSymbols)"
  >
    Generate
  </button>
</div>
<div>
  <label>Your Password</label>
  <!-- <input value="{{ password }}" /> -->
  <input [value]="password" />
</div>
